.about{
    margin: 20px;
    text-align:justify ;
}
.about h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: xx-large;

}
.about p{
    font-size: medium;
}
li{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}