.head {
    /* background-color: rgba(127, 255, 212, 0.198); */
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 15px 20px grey;
    padding-right: 20px;
}

.nav {
    /* background-color: aqua; */
    margin: 1px;
    padding: 1px;
    display: flex;
    float: right;
    color: white;
    margin-right: 45px;
    font-size: larger;
   
}


.nav :link {
    padding: 10px;
    margin-right: 25px;
    
    
}

.head h3 {
    font-size: 29px;
    margin-left: 34px;
    font-family: Itim,cursive;
    padding: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    user-select: none;
    animation: name 3s  infinite alternate ;
}
@keyframes name {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1);
    }
    
}
.nav strong{
    color: rgb(177, 177, 177);
    transition: .1s;
}
.nav  :hover{
    color: rgb(1, 1, 1);
}
@media screen and (max-width: 600px) {
    .nav{

        flex-direction: column;
    }
    
}