body::-webkit-scrollbar{
    background-color: rgb(251, 246, 246);
}
body::-webkit-scrollbar-thumb{
    background-color: black;
}

a{
    color:black;
    text-decoration: none;
}
body{
    background-image: url("../247-600x300.jpg");
    background-attachment: fixed;
}
